osx_image: xcode7.2
language: objective-c
podfile: Example/Podfile

env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  - WORKSPACE=Example/AmazonS3RequestManager.xcworkspace
  - IOS_FRAMEWORK_SCHEME="iOS"
  - OSX_FRAMEWORK_SCHEME="OSX"
  - IOS_SDK=iphonesimulator9.2
  - OSX_SDK=macosx10.11

  matrix:
    - DESTINATION="OS=9.2,name=iPhone 6S"       SCHEME="$IOS_FRAMEWORK_SCHEME"     SDK="$IOS_SDK"      POD_LINT="YES"
    - DESTINATION="arch=x86_64"                 SCHEME="$OSX_FRAMEWORK_SCHEME"     SDK="$OSX_SDK"      POD_LINT="NO"

script:
- set -o pipefail

- xcodebuild -workspace "$WORKSPACE" -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" ONLY_ACTIVE_ARCH=NO test | xcpretty -c

- if [ $POD_LINT == "YES" ]; then
    pod lib lint --quick --allow-warnings
  fi
