# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode7.2
#cache: cocoapods
podfile: Example/Podfile
before_install:
#- gem install cocoapods # Since Travis is not always on latest version
#- pod install --project-directory=Example
install:
- gem install xcpretty --no-rdoc --no-ri --no-document --quiet

script:
- set -o pipefail && xcodebuild test -workspace Example/AmazonS3RequestManager.xcworkspace -scheme AmazonS3RequestManager-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
